 {{!-- Add Task Start --}}
 <h1 class="page-header">Todo List <a href="/" class="btn btn-success pull-right">Task List</a></h1>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Add Task</h3>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <tr>
                <th>Task Title</th>
                <td><input type="text" class="form-control" /></td>
            </tr>
            <tr>
                <th>Task Description</th>
                <td><textarea class="form-control"></textarea></td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <input type="submit" class="btn btn-danger" value="Add" />
                </td>
            </tr>
        </table>
    </div>
</div>
{{!-- Add Task End --}}