{{!-- <p>Welcome to Fuck town</p> --}}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
{{!-- <p>chocolates are sweet.. i think</p> --}}
{{!-- <div class="bg"> --}}
    {{!-- <img class="bg1" src="/images/tree.jpg"/>  --}}
{{!-- </div> --}}
{{!-- <img src="/images/tree.jpg" style="width:100%"> --}}
<p>This example creates a half page background image. Try to resize the browser window to see how it always will cover 50% of the screen, and that it scales nicely on all screen sizes.</p>
<div class="test">
     <img src="/images/tree.jpg" style="width:100%">
</div>
<p>test</p>
</body>
</html>
